.logo-library {
  display: grid;
  grid-column-gap: 36px;
  grid-row-gap: 40px;
  grid-template-columns: repeat(auto-fill, 280px);
  grid-template-rows: 280px;
  justify-content: center;
  justify-items: center;
  margin: 0 auto;
  min-width: 280px;
  position: relative;
  top: 110px;
  width: 90%;
  padding-bottom: 40px;
}

.logo-library>span {
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  width: 280px;
}

.logo-library>span>img {
  display: block;
  height: 210px;
  width: 280px;
  object-fit: contain;
  border-radius: 16px 16px 0px 0px;
  padding: 16px;
  box-sizing: border-box;
}

.card {
  transition: transform 500ms;
  transform: translateY(1000px);
}

.logo-library>span>span {
  border-top: 1px solid #e5e5e5;
  display: block;
  position: relative;
}

.logo-library>span>span p {
  color: #636363;
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  line-height: 34px;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 248px;
}

.logo-library>span>span span {
  align-items: center;
  border-top: 1px solid #efefef;
  display: flex;
}

.logo-library>span>span span a {
  color: #888888;
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  line-height: 34px;
  text-align: center;
  width: 280px;
  border-radius: 0px 0px 16px 16px;
  transition: 0.5s;
  text-transform: uppercase;
}

.logo-library>span>span span a:hover {
  color: #888888;
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  line-height: 34px;
  text-align: center;
  width: 280px;
  border-radius: 0px 0px 16px 16px;
  background: rgba(0, 0, 0, 0.075);
  text-transform: uppercase;
}