.logo-library.dark>span {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}

.logo-library.dark>span,
.logo-library.dark>span>span p {
  background-color: #333;
  color: #eee;
}

.logo-library.dark>span>span,
.logo-library.dark>span>span span {
  border-top: 1px solid #444;
}

.logo-library.dark>span>span span a:hover {
  background: rgba(255, 255, 255, 0.125);
}