@font-face {
  font-family: 'schdesign';
  src: url('../font/schdesign.eot');
  src: local('schdesign Condensed'), local('schdesign-Condensed'), local('schdesign'), local('schdesign-Cond'), local('schdesign Cond'), url('../font/schdesign.eot?#iefix') format('embedded-opentype'), url('../font/schdesign.woff2') format('woff2'), url('../font/schdesign.woff') format('woff'), url('../font/schdesign.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /*-webkit-transition: .3s;
  transition: .3s;*/
}

a,
a:active,
a:hover,
a:visited {
  text-decoration: none;
}

body {
  background-color: #fbfbfb;
  /*position: relative;
  min-height: 100vh;*/
}

.page-container {
  position: relative;
  min-height: 100vh;
  height: 100% !important;
}

.title {
  font-family: 'schdesign';
  color: #444;
  font-size: 60px;
  position: relative;
  top: 4px;
  left: 0px;
}

.sch {
  color: #f8485e;
}

.design {
  color: #f8485e;
}

nav {
  background-color: #fff;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}

.brand-logo {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 180px;
  position: absolute;
  top: 0;
}

.brand-logo img {
  height: 35px;
  margin-right: 10px;
  margin-left: 1rem;
}

.brand-logo p {
  color: #adadad;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  margin-left: 10px;
  margin-right: 10px;
  text-transform: uppercase;
}

.brand-drive {
  color: #adadad;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  margin-left: 10px;
  margin-right: 10px;
  text-transform: uppercase;
}

.menu-items {
  bottom: 0;
  line-height: 60px;
  position: absolute;
  right: 180px;
  top: 0;
}

.menu-items a,
.menu-items a:visited {
  color: #adadad;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  margin: 0px 10px 0px 10px;
  text-transform: uppercase;
}

.menu-items a:hover,
.menu-items a:active {
  color: #8b8b8b;
}

.menu-active,
.hidden-menu-active {
  color: #f8485e !important;
}

.hamburger-button {
  visibility: hidden;
  z-index: -1;
  position: absolute;
}

.hamburger-button:after {
  color: #f8485e;
  display: inline-block;
  font: normal normal normal 14px/1 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f054";
  transform: rotate(0deg);
  transition: all 300ms;
  /*text-shadow: -2px 2px 5px #888;*/
}

.hamburger-button.open:after {
  transform: rotate(90deg);
  /*text-shadow: 2px -2px 5px #888;*/
}

.hidden-menu {
  visibility: hidden;
  z-index: -1;
  position: absolute;
  transition: all 300ms;
  transform: translateY(-220px);
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
}

.hidden-menu a,
.hidden-menu a:visited {
  color: #adadad;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  margin: 12px 0px 12px 0px;
  text-transform: uppercase;
}

.hidden-menu a:hover,
.hidden-menu a:active {
  color: #8b8b8b;
}

.footer {
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #fff;
  box-shadow: 0px -3px 8px rgba(0, 0, 0, 0.1);
  margin-top: 16px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  height: 60px;
  width: 100%;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
}

.container {
  margin: 0;
  position: absolute;
  left: 180px;
  right: 180px;
}

.text-muted,
.text-muted-left,
.text-muted-right {
  color: #aaa;
}

.text-muted-link {
  color: #999;
}

.text-muted-left {
  float: left;
  text-align: left;
}

.text-muted-right {
  float: right;
  text-align: right;
}

.footer-legal {
  color: #999;
  font-family: schdesign;
  letter-spacing: 1px;
  font-size: 18px;
}

.footer-legal-sch {
  color: #f8485e;
}

@media screen and (max-width: 1716px) {
  .menu-items {
    right: 100px;
  }
  .brand-logo {
    left: 100px;
  }
  .footer>* {
    right: 100px;
    left: 100px;
  }
}

@media screen and (max-width: 1365px) {
  .menu-items {
    right: 60px;
  }
  .brand-logo {
    left: 60px;
  }
  .footer>* {
    right: 60px;
    left: 60px;
  }
}

@media screen and (max-width: 1012px) {
  .menu-items {
    right: 30px;
  }
  .brand-logo {
    left: 30px;
  }
  .footer>* {
    right: 30px;
    left: 30px;
  }
}

@media screen and (max-width: 930px) {
  .menu-items {
    visibility: hidden;
    z-index: -1;
  }
  .brand-logo {
    left: 0;
    right: 0;
  }
  .hamburger-button {
    font-size: 40px;
    height: 60px;
    line-height: 60px;
    right: 20px;
    visibility: visible;
    z-index: 4;
  }
  .hidden-menu {
    align-items: center;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    left: 0;
    position: fixed;
    right: 0;
    top: 60px;
  }
  .text-muted-left {
    text-align: center;
    width: 100%;
  }
  .text-muted-right {
    text-align: center;
    width: 100%;
  }
  .footer {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
  }
}