name: ESLint - Lint
on:
  pull_request:
  workflow_call:
  workflow_dispatch:
jobs:
  run-linters:
    name: Run linters
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install Node.js dependencies
        run: npm ci

      - name: Run linters
        uses: wearerequired/lint-action@v1
        with:
          eslint: true
          eslint_args: "--ignore-path .gitignore ."
          eslint_extensions: ts,tsx,js,jsx
          eslint_dir: /

          auto_fix: true
          commit_message: "[lint] Fix code ${linter}"
